<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>cart</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div id="app">
        <div class="header">
            <h2>Books About Javascript</h2>
            <div>
                <button @click="showCart = !showCart" v-show="!verified">
                    {{ num + " 件" }}
                </button>
            </div>
        </div>
        <div class="cart" v-show="showCart">
            <div v-show="items.length > 0">
                <ul>
                    <li v-for="item in items" transition="fade">
                        <p>
                            <strong>{{ item.quantity }}</strong>
                            - {{ item.name }}
                            <i class="fa fa-trash" @click="removeFromCart(item)"></i>
                        </p>
                        
                    </li>
                </ul>
                <div><button @click="verified = true, showCart = false">结算</button></div>
            </div>
            <div v-show="items.length === 0">
                <p>请添加物品至购物车!</p>
            </div>
        </div>
        <div class="container">
            <div class="shop" v-show="!verified">
                <ul>
                    <li v-for="item in shop">
                        <div>
                            <h5>{{ item.name }}</h5>
                            <p>￥{{ item.price }}</p>
                            <button @click="addToCart(item)">添加到购物车</button>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="checkout" v-show="verified">
                <h5 v-for="item in items">
                    <strong>{{ item.quantity }}</strong>
                    - {{ item.name }}
                    <span>￥{{ item.price * item.quantity }}</span>
                </h5>
                <hr />
                <div class="row">
                    <div class="u-pull-right">
                        <h5>总计: <span>{{ total | currency }}</span></h5>
                        <button>查看物品</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="index.js"></script>
</body>
</html>